/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: proxima-nova, sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/img3.jpg) repeat;
}

html{
	font-family:cursive;
}


.outer-wrap{
	display: flex;
	flex-wrap: wrap;
	.side-bar{
		max-width: 300px;
		box-shadow: 2px 3px 5px black;
		-webkit-box-shadow: 2px 3px 5px black;
		-moz-box-shadow: 2px 3px 5px black;
		border-radius: 50% 20% / 10% 40%;
		animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  		animation-duration: 2s;
		flex: 1;
		margin-top: 40px;
		margin-left: 20px;
		padding: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		height: 550px;
		text-align: center;
		background-color: #f4f5f7;
		border-color:#F5F5F5;
		p{
			font-size: 1.1rem;
			text-align: center;
			padding: 10px;
			color: #696969;
		}
		label{
			font-size: small;
			text-align: center;
			padding:10px;
			color: #696969;
		}

		input{
			padding:5px 15px; 
			border:2px #bebebe solid;
			-webkit-border-radius: 5px;
			border-radius: 10px; 
		}

		.show-color{
			width: 100px;
			height: 40px;
			margin: auto;
			margin-bottom: 20px;
			border-radius: 10px;
		}

		.btn{
			border-width:2px;
			border-style:inset;
			border-color:#bebebe;
			border-radius: 10px;
			width: 150px;
			margin-top: 5px;
		}
		
	}

	.main-body{
		flex: 9;
		height: 100vh;
		.all-categories{
			padding: 10px;
			.categories{
				text-decoration:none;
				padding: 10px;
				color: black;
				border-bottom: 4px solid #bebebe;
				border-color: #dee2e6 #dee2e6 #fff;
				border-radius: 10% 30% 50% 70%;
			}
			.categories:hover{
				box-shadow: 2px 3px 5px black;
				-webkit-box-shadow: 2px 3px 5px black;
				-moz-box-shadow: 2px 3px 5px black;
			}
		}
		.all-the-color{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			.card:hover{
				box-shadow: 2px 3px 5px black;
				-webkit-box-shadow: 2px 3px 5px black;
				-moz-box-shadow: 2px 3px 5px black;
			}
			.card{
				background-color: #f4f5f7;
				animation: flipInX; /* referring directly to the animation's @keyframe declaration */
  				animation-duration: 2s;
				border-radius: 50% 20% / 10% 40%;
				padding-top: 5px;
				width: 220px;
				height: 280px;
				.color-box-editing{
					width: 90px;
					height: 7px;
					margin: auto;
					border-radius:10px;
				}
				.color-box{
					width: 80px;
					height: 80px;
					margin: auto;
					border-radius: 10px;
				}
				.card-body-editing{
					text-align: center;
				}
				.card-body{
					text-align: center;
				}
				.card-body{
					p{
						margin: auto;
						padding: 5px;
						color: #696969;
					}
				}
				.card-body-editing{
					margin-bottom: 10px;
					p{
						margin: auto;
						text-align: center;
						color: #696969;
					}
				}
				.btn{
					margin: auto;
					border-width:1px;
					border-style:inset;
					border-color:#bebebe;
					padding-bottom: 5px;

				}
				label{
					padding: 5px;
				}
			}
		}
	}
}

footer p{
	max-height: 50px;
	text-align: center;
	color: white;
	font-weight:bold;
}
